*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.sub-header{
	background-color: #a4c639;
	line-height: 46px;
}

.sub-header ul li{
	display: inline-block;
}

.sub-header ul.left-info li{
	padding: 0 20px;
	border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li:last-child {
    border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
    margin-right: 10px;
    font-size: 15px;
}

ul{
	padding: 0;
	margin: 0;
}

ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}


.sub-header ul.right-icons {
    float: right;
}

.sub-header ul.right-icons li {
    margin-right: -4px;
    width: 46px;
    display: inline-block;
    text-align: center;
    border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
    border-left: 1px solid rgba(250,250,250,0.3);
}


.main-banner{
	background-image: url('https://themewagon.github.io/finance-business/assets/images/slide_03.jpg');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}

.navbar{
	padding: 20px 0;
}

.logo{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
}

.navbar-nav{
	margin-left: auto;
}

.navbar-nav .nav-item{
	margin: 0px 15px;
}

.navbar-nav a.nav-link{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
	margin-top: 5px;
	transition: .4s;
}

.navbar-nav a.nav-link:hover{
	color: #a4c639;
    border-bottom: 3px solid #a4c639;
}

.text-content{
	position: absolute;
    top: 58%;
    left: 50%;
    text-align: left;
    width: 75%;
    transform: translate(-50%, -50%);
}

.text-content h6{
	margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #a4c639;
}

.text-content h4{
	margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
}

.text-content p{
	max-width: 570px;
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.text-content .service-btn{
	background-color: #a4c639;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}

.request-form{
	background-color: #a4c639;
    padding: 40px 0px;
    color: #fff;
}

.request-form h4{
	font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.request-form span{
	font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}

.request-btn{
	margin-top: 12px;
    float: right;
}

a.request-btn{
	background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    text-decoration: none;
}
.services {
    margin-top: 100px;
  }
  
  .services .services-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .services h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
  }
  
  .services em {
    font-style: normal;
    color: #a4c639;
  }
  
  .services span {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
  }
  
  .service-item {
    border: 2px solid #a4c639; 
    transition: all 0.3s ease;
    text-align: center;
    overflow: hidden;
  }
  
  .service-item i {

    margin-top: 30px;
  }
  
  .service-item .down-content {
   
    padding: 30px;
  }
  
  .service-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
  }
  
  .service-item .down-content p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
  }
  
  a.filled-button {
    background-color: #a4c639;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
  }
  
  /* Hover Effects */
  .service-item:hover {
    background-color: #a4c639; /* Background becomes green */
    border-color: black;     /* Border becomes black */
    color: white;            /* Text color becomes white */
  }
  
  .service-item:hover .down-content h4,
  .service-item:hover .down-content p {
    color: white;            
  }
  
  .service-item:hover a.filled-button {
    background-color: black; 
    color: white;          
  }
  
  .service-item i {
    transition: color 0.3s ease;
  }
  
  .service-item:hover i {
    color: white;
  }
  

.work-section{
	background-image: url('https://themewagon.github.io/finance-business/assets/images/fun-facts-bg.jpg');
	margin-top: 140px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
}

.work-section .left-content{
	margin-right: 45px;
}

.left-content span{
	text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.left-content h2{
	font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.left-content em{
	font-style: normal;
    color: #a4c639;
}

.left-content p{
	color: #fff;
	font-size: 14px;
	line-height: 30px;
    margin-bottom: 40px;
}

.count-content{
	text-align: center;
    background-color: rgba(250,250,250,0.1);
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
}

.count-content h1{
	margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}

.count-content h2{
	font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}

.more-detail{
	margin-top: 140px;
}

.more-info-content{
	background-color: #f7f7f7;
}

.more-info-content img{
	width: 100%;
    overflow: hidden;
}

.more-info-content .right-content{
	padding: 45px 45px 45px 30px;
}

.right-content span{
	text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.right-content h2{
	font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.right-content em{
	font-style: normal;
    color: #a4c639;
}

.right-content p{
	margin-bottom: 30px;
	font-size: 14px;
    color: #666666;
    line-height: 30px;
}

.testimonials{
	margin-top: 140px;
    background-color: #f7f7f7;
    padding: 140px 0px;
}

.section-heading{
	text-align: center;
    margin-bottom: 80px;
}

.section-heading h2{
	font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
}

.section-heading em{
	font-style: normal;
    color: #a4c639;
}

.section-heading span{
	display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}

.testimonial-item .testimonial-content{
	text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.testimonial-item .img{
	text-align: center;
}

.testimonial-item img{
	max-width: 60px;
    border-radius: 50%;
    margin: 25px auto 0px auto;
}

.testimonial-item h4{
	font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

.testimonial-item span{
	display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #a4c639;
}

.testimonial-item p{
	font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
}

.callback-form {
    margin-top: 140px;
}

.callback-form .contact-form{
	background-color: #a4c639;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}

.form-control{
	width: 100%;
}

fieldset{
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.callback-form .contact-form input {
	width: 100%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form button.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.callback-form .contact-form button.border-button:hover{
	background-color: #fff;
	color: #a4c639;
}

.partner{
	margin-top: 140px;
	background-color: #f7f7f7;
	padding: 60px 0px;
}

.partner-item{
	text-align: center;
}

footer{
    background-color: #232323;
    padding: 80px 0px;
    color: #fff;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 30px;
}

footer ul{
	list-style-type: none;
}

footer ul.social-icons {
    margin-top: 25px;
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.social-icons li a {
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    color: #232323;
    border-radius: 50%;
    transition: all 0.3s;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list li a{
	font-weight: 400;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

footer ul.menu-list li a:hover{
	color: #a4c639;
}

footer .contact-form input{
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form button.filled-button{
	color: #fff;
    background-color: #a4c639;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

footer .contact-form button.filled-button:hover{
	background-color: #fff;
	color: #a4c639;
}

.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
    overflow: hidden;
}

.sub-footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 30px;
}

.sub-footer a {
    color: #fff;
    text-decoration: none;
}
body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap {
    width: 100%;
    max-width: 525px;
    min-height: 670px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    background-image: url('https://themewagon.github.io/finance-business/assets/images/slide_03.jpg');
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:50px;
	padding-bottom:5px;
	margin:0 50px 20px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    color: #fff;
    display: block;
    width: 100%;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label {
    color: #aaa;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}
.login-form .group .button{
	background:#a4c639;
    cursor: pointer;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:right;
}

.login-wrap {
    display: none;
}

.close-btn {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #1161ee;
}